<!--=====================================================
  Page Borders
=====================================================-->


<!--=====================================================
  Menu Button
=====================================================-->
<a href='#' class='menu-btn'>
				<span class='lines'>
					<span class='l1'></span>
					<span class='l2'></span>
					<span class='l3'></span>
				</span>
</a>


<!--=====================================================
  Menu
=====================================================-->
<div class='menu'>
  <div class='inner'>
    <ul class='menu-items'>

      <li>
        <a href='#' class='section-toggle' data-section='intro'>
          Home
        </a>
      </li>

      <li>
        <a href='#about' class='section-toggle' data-section='about'>
          About
        </a>
      </li>

      <li>
        <a href='#resume' class='section-toggle' data-section='resume'>
          Resume
        </a>
      </li>

      <li>
        <a href='#portfolio' class='section-toggle' data-section='portfolio'>
          Portfolio
        </a>
      </li>


    </ul>
  </div>
</div>

<div class='animation-block'></div>


<!--=====================================================
  Sections
=====================================================-->
<div class='sections'>

  <!--=====================================================
    Main Section
  =====================================================-->
  <section id='intro' class='section section-main active'>

    <div class='container-fluid'>

      <div class='v-align'>
        <div class='inner'>
          <div class='intro-text'>

            <h1>I'm Amr Mossad</h1>

            <p>
              A Friend, Dude and Buddy From Earth
            </p>

            <div class='intro-btns'>

              <a href='#about' class='btn-custom section-toggle' data-section='about'>
                Discover More
              </a>

              <a href='#contact' class='btn-custom section-toggle' data-section='contact'>
                Hire Me
              </a>

            </div>

          </div>
        </div>

      </div>

    </div>

  </section>


  <!--=====================================================
    About Section
  =====================================================-->
  <section id='about' class='section about-section border-d'>

    <app-about-block [aboutMeOBJ]="aboutMeOBJ"></app-about-block>

    <div class='section-block services-block'>

      <div class='container-fluid'>

        <div class='section-header'>

          <h2>My <strong class='color'>Services</strong></h2>

        </div>


        <div class='row'>
          <div class='col-md-3' *ngFor="let service of servicesList">
            <app-card [title]="service.serviceName" [brief]="service.description"></app-card>
          </div>

        </div>


      </div>

    </div>

    <div class='section-block skills-block'>
      <div class='container-fluid'>

        <div class='section-header'>

          <h2>
            My <strong class='color'>Skills</strong>
          </h2>

        </div>

        <div class='row'>

          <div class='col-md-6' *ngFor="let skill of programmingSkillsList">
            <app-skill-card [name]="skill.name" [percentage]="skill.percentage"></app-skill-card>


          </div>


        </div>


      </div>
    </div>

  </section>


  <!--=====================================================
    Resume Section
  =====================================================-->
  <section id='resume' class='section resume-section border-d'>

    <div class='section-block timeline-block'>

      <div class='container-fluid'>

        <div class='section-header'>

          <h2>My <strong class='color'>Education</strong></h2>

        </div>

        <ul class='timeline'>

          <li *ngFor="let education of educationList">

            <div class='timeline-content'>

              <h4>{{education.name}}</h4>

              <em>
                <span>{{education.department}}</span>
                <span>{{education.from}} <span *ngIf="education.from">-</span> {{education.to}}</span>
              </em>

              <p>
                {{education.distribution}}
              </p>

            </div>

          </li>

        </ul>

      </div>

    </div>

    <div class='section-block timeline-block'>

      <div class='container-fluid'>

        <div class='section-header'>

          <h2>My <strong class='color'>Experience</strong></h2>

        </div>

        <ul class='timeline'>

          <li *ngFor="let experience of experienceList">

            <div class='timeline-content'>

              <h4>{{experience.company}}</h4>

              <em>
                <span>{{experience.position}}</span>
                <span>{{experience.from}}-{{experience.to}}</span>
              </em>

              <p>
                {{experience.distribution}}
              </p>

            </div>

          </li>


        </ul>

      </div>

    </div>

  </section>


  <!--=====================================================
    Portfolio Section
  =====================================================-->
  <section id='portfolio' class='section portfolio-section border-d'>

    <div class='section-block portfolio-block'>

      <div class='container-fluid'>


        <div class='section-header'>
          <h2>My <strong class='color'>Works</strong></h2>
        </div>

        <ul class='portfolio-filters'>
          <li>
            <a href='#' class='active' data-group='all'>
              All
            </a>
          </li>
          <li *ngFor="let cat of categories">
            <a href='#' [attr.data-group]='cat'>
              {{cat}}
            </a>
          </li>
        </ul>

        <ul class='portfolio-items'>

          <li *ngFor="let project of projectsList; let i = index" [attr.data-groups]='[project.type]'>
            <div class='inner'>
              <img [src]='project.images[0]' alt>

              <div class='overlay'>

                <a href='#popup-{{i}}' class='view-project'>
                  View Project
                </a>

                <!--project popup-->
                <div id='popup-{{i}}' class='popup-box zoom-anim-dialog mfp-hide'>
                  <figure>

                    <!--project popup image-->
                    <img [src]='project.images[0]' alt>

                  </figure>
                  <div class='content'>

                    <!--project popup title-->
                    <h4>{{project.projectName}}</h4>

                    <!--project popup description-->
                    <p>
                      {{project.projectDetail}}
                    </p>

                    <p>
                      <span class="text-primary">Technologies</span> : {{project.coreDevelopment}}
                    </p>

                  </div>

                </div>

              </div>

            </div>
          </li>

        </ul>

      </div>

    </div>

  </section>

</div>

