<div class='section-block about-block'>
  <div class='container-fluid'>

    <div class='section-header'>
      <h2>
        I'm a <strong class='color'>Programmer</strong>
      </h2>
    </div>

    <div class='row'>

      <div class='col-md-4'>

        <ul class='info-list'>

          <li>
            <strong>Name:</strong>
            <span>{{aboutMeOBJ.name}}</span>
          </li>

          <li>
            <strong>Job:</strong>
            <span>{{aboutMeOBJ.job}}</span>
          </li>

          <li>
            <strong>Age:</strong>
            <span>{{aboutMeOBJ.age}}</span>
          </li>

          <li>
            <strong>Residence:</strong>
            <span>{{aboutMeOBJ.residence}}</span>
          </li>


        </ul>

      </div>

      <div class='col-md-8'>

        <div class='about-text'>
          <p>
            {{aboutMeOBJ.brief}}
          </p>

        </div>

        <div class='about-btns'>

          <a href='#' class='btn-custom btn-color'>
            Download Resume
          </a>

          <a href='#' class='btn-custom btn-color'>
            Hire Me
          </a>

        </div>

      </div>

    </div>

  </div>
</div>
